.map-container{
    width: 50%;
    float: left;
}

.daily-plan{
    width: 50%;
    float: right;
    padding: 10px;
}

.Grid-map{
    z-index: 1;
}

.Grid-plan{
    z-index: 2;
    float: right;
    margin-right: 20px,
}